---
openapi: 3.1.0
info:
  title: envgene-inventory-service API
  version: 1.0.0-SNAPSHOT
paths:
  /colly/v2/inventory-service/auth-status:
    get:
      responses:
        "200":
          description: OK
      summary: Get Auth Status
      tags:
      - Envgene Inventory Service Rest
  /colly/v2/inventory-service/clusters:
    get:
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ClusterDto"
      summary: Get Clusters
      tags:
      - Envgene Inventory Service Rest
  /colly/v2/inventory-service/environments:
    get:
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/EnvironmentDto"
      summary: Get Environments
      tags:
      - Envgene Inventory Service Rest
  /colly/v2/inventory-service/environments/{environmentId}:
    put:
      parameters:
      - name: environmentId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EnvironmentDto"
        required: true
      responses:
        "200":
          description: OK
      summary: Update Environment
      tags:
      - Envgene Inventory Service Rest
  /colly/v2/inventory-service/internal/cluster-infos:
    get:
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/InternalClusterInfoDto"
      summary: Get Internal Cluster Info
      tags:
      - Envgene Inventory Service Rest
  /colly/v2/inventory-service/manual-sync:
    post:
      responses:
        "201":
          description: Created
      summary: Sync Environments With Git
      tags:
      - Envgene Inventory Service Rest
components:
  schemas:
    ClusterDto:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
    EnvironmentDto:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        namespaces:
          type: array
          items:
            $ref: "#/components/schemas/NamespaceDto"
        cluster:
          $ref: "#/components/schemas/ClusterDto"
        owners:
          type: array
          items:
            type: string
        labels:
          type: array
          items:
            type: string
        teams:
          type: array
          items:
            type: string
        status:
          $ref: "#/components/schemas/EnvironmentStatus"
        expirationDate:
          $ref: "#/components/schemas/LocalDate"
        type:
          $ref: "#/components/schemas/EnvironmentType"
        role:
          type: string
    EnvironmentStatus:
      type: string
      enum:
      - IN_USE
      - RESERVED
      - FREE
      - MIGRATING
    EnvironmentType:
      type: string
      enum:
      - ENVIRONMENT
      - CSE_TOOLSET
      - DESIGN_TIME
      - APP_DEPLOYER
      - INFRASTRUCTURE
      - PORTAL
      - UNDEFINED
    InternalClusterInfoDto:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        token:
          type: string
        cloudApiHost:
          type: string
        environments:
          type: array
          items:
            $ref: "#/components/schemas/LightEnvironmentDto"
        monitoringUrl:
          type: string
    LightEnvironmentDto:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        namespaces:
          type: array
          items:
            $ref: "#/components/schemas/NamespaceDto"
    LocalDate:
      type: string
      format: date
      examples:
      - 2022-03-10
    NamespaceDto:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
    ProjectDto:
      type: object
      properties:
        id:
          type: string
          description: Project ID. unique within the Colly instance.
        name:
          type: string
        description:
          type: string
        environments:
          type: array
          items:
            $ref: "#/components/schemas/EnvironmentDto"
  securitySchemes:
    SecurityScheme:
      type: openIdConnect
      description: Authentication
      openIdConnectUrl: http://host.docker.internal:8180/realms/quarkus/.well-known/openid-configuration
